* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #ffffff;
  font-style: 20px;
  color: #333333;
}

html,
body,
body > div:first-child,
.page {
  height: 100%;
  width: 100%;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin: 0 auto;
  max-width: 380px;
  text-align: center;
}

.logoHP {
  height: 160px;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 6px;
}

.description {
  color: #333333;
  margin-bottom: 20px;
}

.button {

}